version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: backend_${APP_NAME}
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    networks:
      - internal
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: web_${APP_NAME}
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - public
      - internal
    depends_on:
      - backend

  db:
    image: postgres:16-alpine
    container_name: db_${APP_NAME}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${DB_VOLUME}:/var/lib/postgresql/data
    networks:
      - internal

networks:
  public:
  internal:
    internal: true

volumes:
  db_data:
